# Model checkpoint files
Projects/Pre-Training_Transformer/models/checkpoints/*.pt

# Large model files
*.pt

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db


data/
chroma_db/
.streamlit/

EpsteinFiles-RAG-main/